[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
torch = "*"
numpy = "*"
transformers = "*"
opencv-python = "*"
python-dotenv = "*"
pymongo = "*"
bitsandbytes = "*"
pillow = "*"
protobuf = "*"
sentencepiece = "*"
accelerate = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
