[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
numpy = "*"
opencv-python = "*"
transformers = "*"
bitsandbytes = "*"
pillow = "*"
protobuf = "*"
sentencepiece = "*"
accelerate = "*"

[dev-packages]

[requires]
python_version = "3.10"
