[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
torch = "*"
numpy = "*"
transformers = "*"
opencv-python = "*"
bitsandbytes = "*"
pillow = "*"
protobuf = "*"
sentencepiece = "*"
accelerate = "*"
openai = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-flask = "*"
pytest-cov = "*"
